@import '../styles/globals.css';

@layer base {
  :root {
    @apply font-sans;
  }

  body {
    @apply bg-background text-foreground relative m-0 grid min-h-screen min-w-[320px];
  }

  h2 {
    @apply text-muted-foreground pb-3 text-xl;
  }

  h3 {
    @apply text-muted-foreground pt-3 pb-1 text-lg;
  }

  code {
    @apply text-emerald-500;
  }
}
